doctype html
html
  head
    title Audrey's Great Big Book Of Food
    link(rel='stylesheet', href='/stylesheets/style_screen.css')

body
  div(class='indexPage')
    div(class='indexPageImage')
      a(href="/")
        img(src='/images/Audrey\'s Great Big Book of Food Small.png', alt='Audrey\'s Great Big Book of Food')
    div(class='indexPageMessage')
      p(class='numRecipesMessage') #{armOriginal.length} recipes are online.
      p(class='instructionsMessage') To search the recipes, enter terms in the box, and/or choose values from one or more of the searchable fields. Click on the image to reset your search results.
    div(class='indexPageSearch')
      form
        table(class='searchTable')
          tr
            td(colspan='2')
              input(type='text',onfocus="this.select();",autofocus,name='terms',value=query['terms'],class='searchText' )
              input(type='submit',Value='Search')
          each searchable in aSearchables
            tr
              td(class='fieldLabel') #{searchable.field}:
              td(class='fieldSelector')
                  select(name=searchable.field,style='width:100%',onchange="form.submit();")
                    if (query[searchable.field] == null || query[searchable.field].length == 0)
                      option(value='',selected)
                    else
                      option(value='')
                    each envalue in searchable.enums
                      if (query[searchable.field] != null && query[searchable.field] == envalue)
                        option(value=envalue,selected) #{envalue}
                      else
                        option(value=envalue) #{envalue}
    div(class='indexPageResults')
      if (armOriginal.length != armFiltered.length || query['terms'] == 'a')
        hr
        if (armFiltered.length == 1)
          h2 #{armFiltered.length} recipe matches your search.
        else
          h2 #{armFiltered.length} recipes match your search.
        each item in armFiltered
          p(class='result')
            a(href='recipe?ID='+item.ID ) #{item.Title}
